<ng-container *ngIf="(isLoading$ | async)">
  <pre>loading...</pre>
</ng-container>
<ng-container *ngIf="(error$ | async) as error">
  <pre>{{error.message}}</pre>
</ng-container>
<ng-container *ngIf="stateRepos$ | async as stateRepos">
  <div class="container">
    <!-- <pre>{{stateRepos | json}}</pre> -->
    <h1>Statistics</h1>
    <div class="d-flex">
      <h5>{{ stateRepos.name }}</h5>
      <ul>
        <li>Commits: {{ commits }}</li>
        <li>Issues: {{ issues }}</li>
        <li>Pull Requests: {{ pullRequests }}</li>
      </ul>
    </div>
</div>
</ng-container>
