<ng-container *ngIf="(isLoading$ | async)">
  <pre>loading...</pre>
</ng-container>
<ng-container *ngIf="(error$ | async) as error">
  <pre>{{error.message}}</pre>
</ng-container>
<ng-container *ngIf="stateRepos$ | async as stateRepos">
  <div class="container">
    <!-- <pre>{{stateRepos | json}}</pre> -->
    <h1>Statistics</h1>
    <div class="row">
      <div class="col">
        <h5>{{ stateRepos.name }}</h5>
        <ul>
          <li>Commits: {{ stateRepos.commits.count }}</li>
          <li>Issues: {{ stateRepos.issues.count }}</li>
          <li>Pull Requests: {{ stateRepos.pulls.count }}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="true"
          [type]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
      </div>
    </div>
</div>
</ng-container>
