<ng-container *ngIf="(isLoading$ | async)">
  <pre>loading...</pre>
</ng-container>
<ng-container *ngIf="(error$ | async) as error">
  <pre>{{error.message}}</pre>

</ng-container>
<ng-container *ngIf="repos$ | async as repos">
  <div class="container">
    <h1>Repositories</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stars</th>
            </tr>
        </thead>
        <tbody id="repo-list">
          <ng-container *ngFor="let repo of repos">
            <tr style="cursor : pointer" (click)="navigatTo(repo.name)">
              <th>{{repo.name}}</th>
              <th>{{repo.description}}</th>
              <th>{{repo.stargazers_count}}</th>
            </tr>
          </ng-container>
        </tbody>
    </table>
</div>
</ng-container>
